* {
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: "DM Sans", sans-serif;
	scroll-behavior: smooth;
}

a {
	color: white;
}

/* ----------------------------------------------NAVBAR---------------------------------------------------- */

.navbar {
	position: fixed;
	left: 50vw;
	transform: translateX(-50%);
	bottom: 3vh;
	background-color: #fff;
	color: #3f5857;
	z-index: 100;
	padding: 10px;
	border-radius: 12px;
}

.navLink {
	transition: 0.25s ease-in-out;
}

.navLink a {
	text-decoration: none;
	margin: 0 10px;
	color: #3f5857;
}

.navLink:hover {
	border-radius: 8px;
	background-color: #3f5857;
}

.navLink:hover a {
	color: #fff;
}

/* ----------------------------------------------LANDING PAGE---------------------------------------------------- */

.landingMainContainer {
	background-image: linear-gradient(
			89.21deg,
			#000000 -23.28%,
			rgba(0, 0, 0, 0) 109.12%
		),
		url("../public/Images/hero.JPG");
	height: 100vh;
	width: 100vw;
	color: white;
	padding-top: 50vh;
	padding-left: 10vw;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}
.logo {
	height: 15vh;
	position: absolute;
	top: 5px;
}

.landingContent {
	transform: translateY(-50%);
	width: 45vw;
}

.landingHead {
	font-size: 56px;
	font-family: "Lexend", sans-serif;
}

.landingBody {
	font-size: 1.5rem;
	margin-top: 2vh;
}

.landingDiv {
	height: "10vh";
	width: "10vw";
}

/* 
.landingMainGradient {
	height: 100vh;
	width: 100vw;
	position: relative;
}

.landingMainGradientImg,
.landingMain {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.logoContainer, .logo{
	height: 10vh;
	text-align: center;
	animation: grow 2s forwards;
	animation-delay: 2s;
}

@keyframes grow {
	from{
		height: 10vh;
	}
	to{
		height: 30vh;
	}
}

.landingGrid {
	display: grid;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	place-items: center;
	grid-template-columns: 10vw 10vw 10vw;
	row-gap: 1vw;
	column-gap: 1vw;
}

.landingGridContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 40vw;
	opacity: 0;
	animation: getsVisible 1s forwards;
	animation-delay: 3s;
}

.landingGridContent h3 {
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
	text-align: center;
	color: #333333;
}

.landingGridContent p {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	text-align: center;
	color: #666666;
}

.landingGridItems {
	border-radius: 12px;
	height: 10vw;
	width: 10vw;
}

.opacity {
	opacity: 0.1;
}

.left {
	animation: moveLeft 2s forwards;
	animation-delay: 1s;
}

.right {
	animation: moveRight 2s forwards;
	animation-delay: 1s;
}

.center {
	animation: getsHidden 1s forwards;
	animation-delay: 1s;
}

.landingTitle {
	font-family: "Lexend", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.75rem;
	text-align: center;

	color: #333333;
}

.landingDesc {
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: center;

	color: #666666;
}

@keyframes moveRight {
	from {
		margin-right: 0;
	}
	to {
		margin-right: -50vw;
	}
}

@keyframes getsHidden {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes getsVisible {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes moveLeft {
	from {
		margin-left: 0;
	}
	to {
		margin-left: -50vw;
	}
} */

/* ----------------------------------------------------------ABOUT US---------------------------------------------------- */

.aboutMain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30vh;
}

.aboutContent {
	width: 80vw;
	padding-right: 10vw;
}

.aboutContent h1 {
	font-family: "Lexend", sans-serif;
	font-style: normal;
	color: #f5c599;
	font-weight: 700;
	font-size: 3rem;
	line-height: 114%;
	letter-spacing: 0.07em;
}

.aboutContent p {
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 138.5%;
	text-align: justify;
	letter-spacing: 0.012em;
	color: #fff;
}

.aboutMain img {
	height: 70vh;
}

.aboutHR1,
.aboutHR2 {
	width: 30vw;
	border-top: 2px solid #fff;
	margin: 2.5vh;
}

.aboutHR1 {
	margin-left: -20vw;
}

.aboutHR2 {
	margin-right: -20vw;
}

.aboutImg {
	background-color: #f5c599;
	height: 70vh;
}

.aboutImg img {
	transform: translate(-10px, -10px);
}

/* ----------------------------------------------------------FACILITIES---------------------------------------------------- */
.facilitiesContainer {
	padding: 10vh 10vw 0 10vw;
	background-color: #ffffff;
	background: repeating-linear-gradient(
			45deg,
			rgba(172, 162, 162, 0.05),
			rgba(172, 162, 162, 0.05) 20px,
			rgba(255, 255, 255, 0.05) 10.5px,
			rgba(255, 255, 255, 0.05) 52.5px
		),
		#3f5857;
}

.cardVector {
	width: 5vw;
}

.facilitiesCard {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10vh;
}

.cardContent {
	width: 38vw;
}

.cardImg {
	width: 38vw;
	border: 2px solid #f5c599;
}

.divider {
	height: 2vh;
	margin: 2vh 0;
	background-color: #fff;
}

.cardDesc {
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 140%;
	color: #fff;
}

.cardTitle {
	font-family: "Lexend", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 46px;
	line-height: 138.5%;
	text-align: justify;
	letter-spacing: 0.012em;
	color: #f5c599;
}

/* ----------------------------------------------------------OTHER FACILITIES---------------------------------------------------- */

.otherFacilitiesContainer {
	background-color: rgba(196, 196, 196, 0.1);
	padding: 10vh 10vw;
	margin: 0 -10vw;
}

.otherFacilitiesContainer h1 {
	font-family: "Lexend", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 2.75rem;
	line-height: 138.5%;
	text-align: justify;
	letter-spacing: 0.03em;
	color: #f5c599;
}

.black {
	border-top: 2px solid #232323;
}

.otherCardsContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 10vh;
}

.otherCard {
	border: 1px solid #f5c599;
	width: 22.5vw;
	padding: 1vw;
}

.otherCard h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 127.5%;
	color: #fff;
	margin-bottom: 2vh;
}

.otherCard p {
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 140%;
	color: #fff;
}

/* ----------------------------------------------MEET THE TEAM---------------------------------------------------- */

.teamSection {
	padding: 20vh 10vw;
	width: 100vw;
	background-size: 100%;
}

.teamButtons {
	margin-top: 10vh;
}

.teamButtons button {
	background-color: #fff;
	border-bottom: 2px solid #fff;
	border: none;
	color: #3f5857;
	font-family: "Lexend", sans-serif;
	font-size: 1.1rem;
	padding: 1%;
	cursor: pointer;
}

.active {
	background-color: rgba(196, 196, 196, 0.4) !important;
	border-bottom: 2px solid #f5c599 !important;
}

.teamCards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 5vh;
	place-items: center;
	background: rgba(196, 196, 196, 0.4);
	padding: 5vh 0;
}

.teamHeading {
	font-family: "Lexend", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 44px;
	line-height: 138.5%;
	letter-spacing: 0.03em;
	color: #3f5857;
}

.teamCard {
	background-color: #3f5857;
	background-image: url("../public/Images/teamCard/Diagonal.png");
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-evenly;
	height: 60vh;
	position: relative;
}

.cardName {
	text-align: center;
	font-family: "Lexend";
	font-style: normal;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 114%;
	letter-spacing: 0.125em;
	color: #ffffff;
	margin-top: 2vh;
	padding: 2vh;
}

.cardDesignation {
	font-style: normal;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 114%;
	letter-spacing: 0.035em;
	color: #f5c599;
}

.cardTop {
	padding: 2vh;
}

.cardMiddle {
	text-align: center;
}

.cardMiddle img {
	width: 12vw;
	height: 15vw;
	border: 2px solid #f5c599;
	object-fit: cover;
}

.teamCardDivider {
	width: 90%;
	border: none;
	border-top: 2px solid #f5c599;
	margin: 1vh 0;
}

.overlay {
	background-color: rgba(35, 35, 35, 0.8);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	z-index: 90;
	padding: 1vw;
	font-size: 0.9rem;
	display: none;
}

.teamCard:hover .overlay {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}

/* ----------------------------------------------GALLERY---------------------------------------------------- */

.galleryMain {
	background: rgba(196, 196, 196, 0.3);
	padding: 10vh 0;
}

.galleryMain h1 {
	font-family: "Lexend";
	font-style: normal;
	font-weight: 700;
	font-size: 2.75rem;
	line-height: 138.5%;
	letter-spacing: 0.03em;
	color: #3f5857;
	margin-left: 10vw;
	margin-bottom: 10vh;
}

.galleryImages {
	display: flex;
	position: relative;
	justify-content: space-between;
	/* height: 20vh; */
	width: 80vw;
	margin-left: 10vw;
}

#scrollDiv {
	display: flex;
	overflow-x: scroll;
	transition: 2s;
	scroll-behavior: smooth;
}

#scrollDiv::-webkit-scrollbar {
	display: none;
}

.galleryImage {
	height: 45vh;
	border: 1px solid #f5c599;
	margin-right: 1vw;
}

.galleryImage:last-child {
	margin-right: 0;
}

.scrollButtons {
	position: absolute;
	z-index: 1;
	background-color: #c4c4c4;
	border: none;
	width: 7vw;
	top: 50%;
	transform: translateY(-50%);
}

.leftBtn {
	background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	left: 0;
	height: 45vh;
	cursor: pointer;
}

.rightBtn {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	right: 0;
	height: 45vh;
	cursor: pointer;
}

/* ----------------------------------------------FOOTER---------------------------------------------------- */
.footerMain {
	background-color: #3f5857;
	margin-top: 10vh;
	display: flex;
	padding: 10vh 10vw;
	position: relative;
	overflow: hidden;
	justify-content: space-between;
	padding-bottom: 20vh;
}

.footerLine {
	width: 2px;
	height: 10vh;
	background-color: #ffffff;
}

.leftSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.topLeftSection {
	border: 2px solid #f5c599;
	padding: 1vw;
	margin-bottom: 5vh;
	z-index: 50;
}

.rightSection {
	border: 2px solid #f5c599;
	padding: 1vw;
	width: 35vw;
}

iframe {
	border: none;
	width: 33vw;
	height: 65vh;
}

.footerHead {
	font-family: "Lexend";
	font-style: normal;
	font-weight: 600;
	font-size: 3rem;
	line-height: 114%;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.topLeftSection p {
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 114%;
	letter-spacing: 0.04em;
	color: #ffffff;
}

.bottomLeftSection p {
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 130.5%;
	/* or 31px */
	text-decoration: underline;
	letter-spacing: 0.04em;
	padding: 0 1vw;
	margin: 2vh 0;
	color: #ffffff;
}

.footerTopBg {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
}

.footerBottomBg {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(50%);
}

@media screen and (max-width: 600px) {
	.landingHead {
		font-size: 32px;
	}
	.landingBody {
		font-size: 16px;
	}
	.landingMainContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-left: 0;
		padding-top: 144px;
		height: 640px;
		background-image: linear-gradient(
				89.21deg,
				#000000c4 150.28%,
				rgba(0, 0, 0, 0) 109.12%
			),
			url("../public/Images/statue.png");
	}
	.landingContent {
		width: 320px;
		height: 150px;
	}
	.navbar {
		display: none;
	}
	.logo {
		height: 104px;
		width: 92px;
		position: relative;
		transform: translateY(-100px);
	}
	.aboutContent h1 {
		font-size: 24px;
		line-height: 114%;
		width: 320px;
		height: 43px;
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
		letter-spacing: 0.007em;
	}
	.aboutContent p {
		font-size: 14px;
		font-family: "DM Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 120%;
		letter-spacing: 0.007em;
		color: #ffffff;
	}
	.aboutMain {
		display: none;
	}
	.aboutMainMobile {
		justify-content: center;
		flex-direction: column;
	}
	.aboutImgMobile {
		width: 326px;
		margin-top: 16px;
		margin-bottom: 20px;
		background-color: #f5c599;
	}
	.aboutImgMobile img {
		width: 320px;
		height: 175px;
		translate: (-6px, -6px);
	}
	.aboutContent {
		padding-right: 0px;
	}
	.aboutContent p {
		width: 320px;
		margin-bottom: 74px;
	}
	.facilitiesCard {
		display: none;
	}
	.cardVectorMobile {
		width: 27px;
		height: 27px;
	}
	.cardHeadMobile {
		display: flex;
		align-items: center;
	}
	.cardTitleMobile {
		font-family: "Lexend";
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 114%;
		letter-spacing: 0.015em;
		color: #f5c599;
		display: inline-block;
		margin-left: 8px;
	}
	.cardDesc {
		width: 320px;
		left: 20px;
		font-family: "DM Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 120%;
		margin-top: 12px;
		margin-bottom: 8px;
	}
	.cardImgMobile {
		width: 320px;
		height: 220px;
		left: 20px;
		border: 1px solid #f5c599;
		border-radius: 2px;
		margin-bottom: 38px;
		vertical-align: middle;
	}
	.divider {
		height: 4px;
		width: 320px;
	}
	.otherCardsContainer {
		flex-direction: column;
	}
	.otherCard {
		width: 291px;
		left: 12px;
		border: 0.82495px solid #f5c599;
		border-radius: 2px;
		margin-bottom: 16px;
	}
	.otherCard p {
		font-family: "DM Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 120%;
		color: #ffffff;
		margin-top: 8px;
		margin-bottom: 18px;
		margin-left: 14px;
	}
	.otherCard h2 {
		margin-top: 18px;
		margin-left: 14px;
		font-family: "DM Sans";
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 127.5%;
		color: #ffffff;
	}
	.landingDiv {
		height: 18px;
	}
	.otherFacilitiesContainer {
		padding: 12px;
	}
	.otherFacilitiesContainer h1 {
		font-family: "Lexend";
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 100%;
		text-align: justify;
		letter-spacing: 0.02em;
		color: #f5c599;
		padding-left: 36px;
	}
	.otherCardsContainer {
		margin-top: 24px;
		padding-left: 36px;
	}

	.teamCard {
		background-color: #3f5857;
		background-image: url("../public/Images/teamCard/Diagonal.png");
		width: 72vw;
		display: flex;
		flex-direction: column;
		height: 72vw;
		position: relative;
		justify-content: center;
	}

	.teamCards {
		display: flex;
		flex-direction: column;
	}

	.cardTop {
		padding-top: 12px;
		margin: 4px;
	}

	.cardMiddle {
		text-align: center;
	}

	.cardMiddle img {
		width: 32vw;
		height: 32vw;
		border: 2px solid #f5c599;
		object-fit: cover;
	}
	.cardName {
		font-size: 4vw;
	}
	.cardDesignation {
		font-size: 4vw;
	}
	.footerMain {
		display: flex;
		flex-direction: column;
	}

	.teamSection {
		padding: 10vw;
		width: 100vw;
		background-size: 100%;
	}
	.rightSection {
		width: 82vw;
	}
	.rightSection iframe {
		width: 80vw;
		height: 64vw;
		order: 1;
	}
	.footerMain {
		padding-bottom: 4vh;
	}
	.footerHead {
		font-size: 24px;
		padding: 4px;
		font-family: "Lexend";
		font-style: normal;
		font-weight: 600;
		line-height: 114%;
		/* identical to box height, or 23px */

		letter-spacing: 0.02em;

		color: #ffffff;
	}
	.leftSection {
		order: 2;
		padding-top: 8vw;
	}
	.topLeftSection {
		width: 82vw;
		border: none;
		font-family: "DM Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 130.5%;
		letter-spacing: 0.04em;
		color: #ffffff;
	}
	.galleryImage {
		width: 80vw;
		height: 64vw;
	}
	.scrollButtons {
		height: 64vw;
	}
	.slider {
		display: none;
	}
}

@media screen and (min-width: 601px) {
	.aboutMainMobile {
		display: none;
	}
	.facilitiesCardMobile {
		display: none;
	}
	.slider {
		display: none;
	}
}
